/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    font-size: 62.5%;
}





body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

body {
    box-sizing: border-box;
    display: flex;
    padding: 0 25%;
    background-color: black;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

html, body {
    display: flex;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



.container{
    height:100%;
    background-color: white;
    margin: 0 auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
}




header nav .lambda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    align-items: baseline;
    margin: 0 auto;
}

header nav .lambda a{
    font-size: 2rem;
    padding: 3rem;
    color: black;
}



.zoom{
    display: flex;
    justify-content: center;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    margin: 5% 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.box1{
    display: flex;
    background-color:teal ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box2{
    display: flex;
    background-color:gold ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box3{
    display: flex;
    background-color:cadetblue ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box4{
    display: flex;
    background-color:coral ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box5{
    display: flex;
    background-color:crimson ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box6{
    display: flex;
    background-color:forestgreen ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box7{
    display: flex;
    background-color:darkorchid ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box8{
    display: flex;
    background-color:hotpink ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box9{
    display: flex;
    background-color:indigo ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box10{
    display: flex;
    background-color:dodgerblue ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}



.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
}

.bottom-content .text-container {
    width: 30%;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}


@media (max-width: 500px){
body {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    
}


.container{
    height:100%;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;
}



header nav .lambda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    align-items: baseline;
    margin: 0;
}

header nav .lambda a{
    font-size: 2rem;
    padding: 3rem;
    color: black;
}



.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20%;
    margin-bottom: 2%;
    border-bottom: 1px dashed black;
    box-sizing: border-box;
}


.top-content .text-container {
    padding: 0 1%;
    padding-bottom: 20px;  
    margin: 5% 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.zoom{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.zoom img{
    display: flex;
    justify-content: center;
    margin: 0 20%;
}


.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.box1{
    display: flex;
    background-color:teal ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box2{
    display: flex;
    background-color:gold ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box3{
    display: flex;
    background-color:cadetblue ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box4{
    display: flex;
    background-color:coral ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box5{
    display: flex;
    background-color:crimson ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box6{
    display: flex;
    background-color:forestgreen ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box7{
    display: flex;
    background-color:darkorchid ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box8{
    display: flex;
    background-color:hotpink ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box9{
    display: flex;
    background-color:indigo ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.box10{
    display: flex;
    background-color:dodgerblue ;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}



.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-direction: row;

}

.bottom-content .text-container {
    width: 30%;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}